Repository voxel51/eta, pull requests merged in 2020-10, with the labels that each got.

#482 Bump to 0.1.6
  setup.py
Labels: setup

#480 Adds support for storing and rendering keypoints and polylines
  eta/core/annotations.py
  eta/core/frames.py
  eta/core/geometry.py
  eta/core/image.py
  eta/core/keypoints.py
  eta/core/objects.py
  eta/core/polylines.py
  eta/core/video.py
Labels: feature

#483 Fix syntax issue for Python < 3.6
  eta/core/polylines.py
Labels: bug

#484 Bump to 0.1.7
  setup.py
Labels: setup

#485 Fix ProgressBar errors when stdout isn't UTF-8
  eta/core/utils.py
Labels: bug

#486 Bump to 0.1.8
  setup.py
Labels: setup

#487 Adding support for storing multiple shapes in a Polyline instance
  eta/core/annotations.py
  eta/core/image.py
  eta/core/polylines.py
Labels: enhancement

#488 Bump to 0.1.9
  setup.py
Labels: setup

#489 Bump to 0.1.10
  setup.py
Labels: setup

#490 Bump to 0.1.11
  setup.py
Labels: setup
